<app-navbar-nurse></app-navbar-nurse>

<div fxLayoutAlign="center left" fxFlexFill class="main-div" >
    <mat-card style="margin-top: 1cm;" fxFlex="40"> 
        <mat-toolbar color="primary" style="margin-bottom: 0.5cm;">Assigned Patients</mat-toolbar>
             <form [formGroup]="form" >
                <div fxLayout="column"> 
                    <div fxLayoutGap="15px" >
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Patient Name</th>
                                    <th>Age</th>
                                    <th>Blood Group</th>
                                    <th style="width: 7cm;">Patient ID</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let pd of patientData">
                                    <td><span>{{pd.patientName}}</span></td>
                                    <td><span>{{pd.age}}</span></td>
                                    <td><span>{{pd.bloodGroup}}</span></td>
                                    <td><span>{{pd.patientID}}</span></td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
    </mat-card>

</div>